
@{
    ViewData["Title"] = "Details";
}

<h2>Task details</h2>
@{ 
    var task = (FileDataProvider.Entities.Task)ViewBag.Task;
}
<h4>Header:</h4>
<div class="well">@task.Header</div>

<h4>Description</h4>
<div class="well">@task.Description</div>

<h4>Required hours</h4>
<div class="well">@task.RequiredHours</div>

<h4>Executitive</h4>
<div class="well">@task.ExecutitiveId</div>

<h4>Creator</h4>
<div class="well">@task.CreatorId</div>

<h4>Created on</h4>
<div class="well">@task.CreatedOn</div>

<h4>Last edited</h4>
<div class="well">@task.LastEditedOn</div>

<h4>Status</h4>
@if (task.IsCompleted)
{
    <div class="well">Completed</div>
}
else
{

    <div class="well">In process</div>
}

<h4>Comments</h4>
<div class="well">
    @await Component.InvokeAsync("Comments", new {parentId = task.Id})
</div>

<h5>Add new comment</h5>
<div class="well">
    <form asp-action="Create" asp-controller="Comments" method="post">
        <input type="hidden" name="TaskId" value="@task.Id" />
        <textarea class="form-control" name="Body"></textarea>
        <br/>
        <input type="submit" class="btn btn-primary" />
    </form>
    
</div>


