
@{
    ViewData["Title"] = "Tasks";
}
<h2>Tasks</h2>
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"].ToString()</div>
}

<div class="well">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Items per Page
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var amount in TaskManagerASP.Tools.Constants.AmountOfItemsPerPage)
            {
                <li><a asp-controller="Tasks" asp-action="Index" asp-route-itemsPerPage="@amount" asp-route-page="@ViewData["CurrentPage"]">@amount</a></li>
            }
        </ul>
    </div>
    <div class="well-sm">
        <form class="form-control" method="get" asp-controller="Tasks" asp-action="Index">
            Search By:
            <label class="checkbox-inline"><input type="checkbox" name="header" value="true">Header</label>
            <label class="checkbox-inline"><input type="checkbox" name="description" value="true">Description</label>

            <input type="text" name="search" />
            <input type="submit" value="Search"/>
        </form>
    </div>
</div>
@foreach(var item in (ICollection<Data.Entities.Entities.Task>)ViewBag.Tasks)
    {
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="taskTitle">@item.Header</h3>
            <p><small style="color: #aaa;">@item.Description</small></p>
            <a asp-controller="Tasks" asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a>   
            <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a>   
            <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
        </div>
    </div>
    }

<ul class="pagination">
    @for (int i = 1; i <= (int)ViewData["PagesAvaliable"]; i++)
    {
        @if (i == (int)ViewData["CurrentPage"])
        {
            <li class="active"><a asp-controller="Tasks" asp-action="Index" asp-route-page="@i">@i</a></li>
        }
        else
        {
            <li><a asp-controller="Tasks" asp-action="Index" asp-route-page="@i">@i</a></li>
        }

    }
</ul>
<a asp-controller="Tasks" asp-action="Create" ><button class="btn btn-primary">Create new task</button></a>

