
@{
    ViewData["Title"] = "Details";
}

<h2>Task details</h2>
@{
    @model TaskManagerASP.Models.UserIndexViewModel
}
@Html.LabelFor(m => m.Id)
    <div class="well">@Html.DisplayFor(m => m.Id)</div>

@Html.LabelFor(m => m.Username)
<div class="well">@Html.DisplayFor(m => m.Username)</div>

@Html.LabelFor(m => m.FirstName, "First name")
<div class="well">@Html.DisplayFor(m => m.FirstName)</div>

@Html.LabelFor(m => m.LastName, "Last name")
<div class="well">@Html.DisplayFor(m => m.LastName)</div>

<h4>Admin status</h4>
@if (Model.IsAdmin)
{
    <div class="well">Administrator</div>
}
else
{
    <div class="well">Not an admin</div>
}


