
@{
    ViewData["Title"] = "Details";
}

<h2>Task details</h2>
@{
    var user = (FileDataProvider.Entities.User)ViewBag.User;
}
<h4>Id</h4>
<div class="well">@user.Id</div>
<h4>Username</h4>
<div class="well">@user.UserName</div>

<h4>Password</h4>
<div class="well">@user.Password</div>

<h4>First name</h4>
<div class="well">@user.FirstName</div>

<h4>Last name</h4>
<div class="well">@user.LastName</div>

<h4>Admin status</h4>
@if (user.IsAdmin)
{
    <div class="well">Administrator</div>
}
else
{
    <div class="well">Not an admin</div>
}


