
@{
    ViewData["Title"] = "User Administration Pannel";
}
<h2>User Administration Pannel</h2>
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}
@foreach (var item in (ICollection<FileDataProvider.Entities.User>)ViewBag.Users)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="taskTitle">@item.UserName</h3>
            <p><small style="color: #aaa;">@item.FirstName @item.LastName</small></p>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a>
            <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a>
            <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
        </div>
    </div>
}

<a asp-controller="Users" asp-action="Create"><button class="btn btn-primary">Create new task</button></a>

