
@{
    ViewData["Title"] = "User Administration Pannel";
    @model ICollection<TaskManagerASP.Models.UserIndexViewModel>
}
<h2>User Administration Pannel</h2>
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="taskTitle">@Html.DisplayFor(m => item.Username)</h3>
            <p><small style="color: #aaa;">@Html.DisplayFor(m => item.FirstName) @Html.DisplayFor(m => item.LastName)</small></p>
            @Html.ActionLink("Details", "Details", "Users", new { id = item.Id, @class = "btn btn-info", type = "button" }))
            @Html.ActionLink("Edit", "Edit", "Users", new { id = item.Id, @class = "btn btn-warning", type = "button" }))
            @Html.ActionLink("Delete", "Delete", "Users", new {id=item.Id, @class="btn btn-danger", type="button"}))
        </div>
    </div>
}
@Html.ActionLink("Create new user", "Create", "Users", new { @class = "btn btn-info", type = "button" }))
