@{
    ViewData["Title"] = "Login Page";
    @model TaskManagerASP.Models.LoginViewModel
}
    <div class="container" width="300">
        
       @using (Html.BeginForm("Login", "Home", FormMethod.Post))
       {
           <h2 class="form-signin-heading">Please log in</h2>

           if (!ViewData.ModelState.IsValid)
           {
               <div class="alert alert-danger">@Html.ValidationMessage("authenticationFailed")</div>
           }

           @Html.LabelFor(m => m.Username, new {@class = "sr-only"})
           @Html.TextBoxFor(m => m.Username, new {@class = "form-control", style = "margin:auto", placeholder = "Username", required = true, autofocus = true})


           @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
           @Html.TextBoxFor(m => m.Password, new {type = "password", @class = "form-control", style = "margin:auto", placeholder = "Password", required = true})

           <button class="btn btn-md btn-primary" style="margin: auto" type="submit">Sign in</button>
       }
    </div> <!-- /container -->
