@{
    ViewData["Title"] = "Register Page";
    @model Data.Entities.Entities.User
}
<div class="container" width="300">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new {form = "form-signin"}))
    {
        <h2 class="form-signin-heading">Please register</h2>

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">@Html.ValidationSummary()</div>
        }

        @Html.LabelFor(m => m.UserName, new {@class = "sr-only"})
        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", style = "margin:auto", placeholder = "Username", required = true, autofocus = true})


        @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
        @Html.TextBoxFor(m => m.Password, new {type = "password", @class = "form-control", style = "margin:auto", placeholder = "Password", required = true})

        @Html.LabelFor(m => m.FirstName, "First name", new {@class = "sr-only"})
        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control", style = "margin:auto", placeholder = "First name", required=true})

        @Html.LabelFor(m => m.LastName, "Last name", new {@class = "sr-only"})
        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control", style = "margin:auto", placeholder = "Last name", required = true })

        <button class="btn btn-md btn-primary" style="margin: auto" type="submit">Register</button>
    }

</div> <!-- /container -->
